---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Variables

// Palette
$white: #fafaff;
$black: #353535;
$code-block-color: #e8eef2;
$code-block-outline: #d3d4d9;
$link-color: #4b88a2;

$green: #67ab50;
$orange: #d7772f;
$blue: #5587c6;
$seafoam: #43727d;
$red: #cf5251;
$yellow: #e9b34c;

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       $black;
$background-color: $white;
$brand-color:      $black;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "home",
        "downloads",
        "faq"
;
